.App {
  text-align: center;
}

.header{
  width: 100%;
  background: #323248;
  min-height: 57px;
}
.header a{
  display: flex;
  padding: 0.2rem 0 0 1%;
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.search-container input{
  height: 57px;
  width: 65%;
  padding: 0 0 0 3%;
}
.searchbtn{
  width: 5rem;
  background: #268efc;
  box-shadow: none;
  color: #fff;
  height: 3.8rem;
  border-color: #268efc;
  cursor: pointer;
}

.image-container{
  display: grid;
  grid-gap: 1rem;
  margin: 3rem auto;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.image-card{
  margin: 1rem 2%;
}
.image-card img{
  height: 16rem;
  width: 100%;
}
.image-captions{
  display: none;
}
